.banner {
  > .row > .columns {
    position: relative;
  }
}
.hambi {
  @include text-hide();
  @include hamburger($body-font-color, $primary-color, 48px, 32px, 1px, 3);
  position: absolute;
  left:1.75rem;
  top:25%;
  @include breakpoint(xlarge) {
    left:-9.25rem;
  }
}
.sidenav {
  padding:$global-padding;
  max-width: rem-calc(340);
  margin:0 auto;
  position: absolute;
  width:100%;
  left:50%;
  top:50%;
  transform: translateX(-50%) translateY(-50%);
}

.menu--side {


  width: 100%;
  > li {
    > a {
      font-size: 1.125rem;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .menu {
    text-align: left;
    padding-bottom: .875rem;
    > li {
      > a {
        font-size: .875rem;
        padding: .25rem 0;
      }
    }
  }

  a {
    color:inherit;
  }
}