.valuecard {
  text-align: center;
  margin: 10% auto;
}

.valuecard__icon {
  margin:0 auto 1.75rem;
}

.valuecard__name {
  font-size: .875rem;
  line-height: 1;
  text-transform: uppercase;
  margin:0 auto 1.5em;
  &:after {
    content: '';
    display: block;
    height: 1px;
    width: 1em;
    background-color: currentColor;
    margin:1.5em auto 0;
  }
}

.valuecard__descr {
  text-align: left;
}