@font-face {
    font-family: 'Bw Quinta Pro';
    src: url('../fonts/bwquintapro-black.woff2') format('woff2'),
         url('../fonts/bwquintapro-black.woff') format('woff');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'Bw Quinta Pro';
    src: url('../fonts/bwquintapro-blackitalic.woff2') format('woff2'),
         url('../fonts/bwquintapro-blackitalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;

}

@font-face {
    font-family: 'Bw Quinta Pro';
    src: url('../fonts/bwquintapro-bold.woff2') format('woff2'),
         url('../fonts/bwquintapro-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Bw Quinta Pro';
    src: url('../fonts/bwquintapro-bolditalic.woff2') format('woff2'),
         url('../fonts/bwquintapro-bolditalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;

}

@font-face {
    font-family: 'Bw Quinta Pro';
    src: url('../fonts/bwquintapro-light.woff2') format('woff2'),
         url('../fonts/bwquintapro-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Bw Quinta Pro';
    src: url('../fonts/bwquintapro-lightitalic.woff2') format('woff2'),
         url('../fonts/bwquintapro-lightitalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;

}

@font-face {
    font-family: 'Bw Quinta Pro';
    src: url('../fonts/bwquintapro-medium.woff2') format('woff2'),
         url('../fonts/bwquintapro-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'Bw Quinta Pro';
    src: url('../fonts/bwquintapro-mediumitalic.woff2') format('woff2'),
         url('../fonts/bwquintapro-mediumitalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;

}

@font-face {
    font-family: 'Bw Quinta Pro';
    src: url('../fonts/bwquintapro-regular.woff2') format('woff2'),
         url('../fonts/bwquintapro-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Bw Quinta Pro';
    src: url('../fonts/bwquintapro-regularitalic.woff2') format('woff2'),
         url('../fonts/bwquintapro-regularitalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;

}