html {
  //overflow-y: scroll;
  @include breakpoint(xxlarge) {
    font-size: 112.5%;
  }
}
body {
}
.row {
  @include breakpoint(medium) {
    max-width: 85%;
    .floatingside &, & & {
      max-width: $global-width;
    }
  }
  @include breakpoint(tablet) {
    max-width: 80%;
  }
  @include breakpoint(large) {
  }
  @include breakpoint(xlarge) {
    max-width: 66.666%;
  }
  @include breakpoint(xxlarge) {
    max-width: rem-calc(1024);
  }
}

.ps {
  padding-top: 4rem;
  padding-bottom: 4rem;
  @include breakpoint(large) {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
}
.ps--narrow {
  padding-top: 2rem;
  padding-bottom: 2rem;
  @include breakpoint(large) {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
}


.ps--notop {
  padding-top: 0;
  @include breakpoint(large) {
    padding-top: 0;
  }
}
.ps--nobottom {
  padding-bottom: 0;
  @include breakpoint(large) {
    padding-bottom: 0;
  }
}


.callout {
  &:after {
    position: absolute;
    content:'';
    display: block;
    left:2%;
    top:2%;
    width:96%;
    height:96%;
    border: 2px solid rgba(#fff,.75);
    pointer-events: none;
  }
}



.reveal.floatingside {
  float:right;
  max-width:rem-calc(420);
  height: 100vh;
  min-height: 100vh;
  border:none;
  box-shadow: 0 0 3rem 0 rgba(#000,.25);
}